body {
  margin: 0;
  padding: 0;
}

.topheader logo {
  display: flex;
}

.topheader {
  position: fixed;
  background-color: #dae9eb;
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(197, 100, 61);
  padding: 0 1.25rem;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 12.5rem;
  font-size: 24px;
  font-family: roboto;
  margin: 0;
  padding: 0;
}

.Menu-Horizontal li a {
  display: Block;
  font-weight: 700;
  color: rgb(67, 67, 90);
  text-decoration: none;
}

.Menu-Horizontal li a:hover {
  color: red;
}

.Menu-Horizontal li:hover .Menu-Vertical-Promociones,
.Menu-Horizontal li:hover .Menu-Vertical-Cursos {
  display: block;
}

.Menu-Vertical-Promociones,
.Menu-Vertical-Cursos {
  font-size: 20px;
  font-family: roboto;
  background-color: rgb(177, 212, 212);
  background-size: contain;
  list-style: none;
  padding: 10px;
  position: absolute;
  display: none;
}

.seccion-cursos-online {
  padding: 80px 10px;
  background-color: rgb(255, 255, 255);
}
.div-hor-cursos-online {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 150px;
}

.div-texto-cursos-online h2 {
  flex: 1;
  max-width: 900px;
}

.div-texto-cursos-online p {
  color: black;
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  max-width: 900px;
}

.div-texto-cursos-online button,
.div-texto-eventos-proximos button,
.div-texto-promociones-disponibles button {
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(172, 179, 243);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.div-img-cursos-online img {
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.seccion-eventos-proximos {
  padding: 60px 10px;
  background-color: rgb(255, 255, 255);
}
.div-hor-eventos-proximos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.div-texto-eventos-proximos h2 {
  flex: 1;
  max-width: 500px;
}

.div-texto-eventos-proximos p {
  color: black;
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  max-width: 500px;
}

.div-video-eventos-proximos {
  flex: 1;
}

.seccion-promociones-disponibles {
  padding: 60px 10px;
  background-color: white;
}

.div-hor-promociones-disponibles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 150px;
}

.div-texto-promociones-disponibles h2 {
  flex: 1;
  max-width: 700px;
}

.div-texto-promociones-disponibles p {
  color: black;
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  max-width: 700px;
}

.div-img-promociones-disponibles img {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.seccion-contacto {
  padding: 60px 10px;
  background-color: white;
}

.div-hor-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.div-texto-contacto h2 {
  flex: 1;
  max-width: 500px;
}

.div-texto-contacto p {
  color: black;
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  max-width: 500px;
}

.div-texto-contacto button {
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(243, 172, 182);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.seccion-formulario-registro {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.div-cont-formulario {
  padding: 30px;
  background-color: #dffff5;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  border: 3px solid rgb(72, 72, 143);
}

.campo {
  background-color: #dae9eb;
  padding: 15px;
  border: 1px solid #8d93f5;
  border-radius: 8px;
  margin-bottom: 15px;
}

.formulario label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000000;
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px;
  border-radius: 3px;
  box-sizing: border-box;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.625rem;
  border: 2px solid #b1c4ba;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 0;
}

.btn-verificar {
  margin-top: 10px;
  background-color: #c5f7d2;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-enviar {
  background-color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
}

.formulario input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
